{% extends 'main.html' %}
{% load static %}
{% block content %} 

    <!-- Main Section -->
    <main>

            <div id='screen--wrapper-letter'>
                <h3>Восстановление пароля</h3>
                <p>Забыли пароль? Введите свой адрес электронной почты ниже, 
                    и мы вышлем вам инструкцию, как установить новый пароль.</p>
            </div>
            <div id='screen--wrapper-letter'>
                <form class="form" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Сбросить пароль" />
                </form>
            </div>

    </main>



{% endblock content %} 